body {
	margin: 0px;
	text-align: center;
}
form{
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}
.link-container{
	width: 33%;
	padding: 10px 0px;
	transition: 1s background-color ease;
}
.link-container:nth-child(1){
	background-color: yellow;
}

.link-container:nth-child(2){
	background-color: lightpink;
}
.link-container:nth-child(3){
	background-color: skyblue;
}
.link-container:nth-child(4){
	background-color: cyan;
}
.link-container:nth-child(5){
	background-color: lightgreen;
}
.link-container:nth-child(6){
	background-color: cyan;
}
.link-container:nth-child(7){
	background-color: skyblue;
}
.link-container:nth-child(8){
	background-color: lightpink;
}
.link-container:nth-child(9){
	background-color: yellow;
}

/*hover */
.link-container:hover{
	background-image: url('/img/linkbg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.link-title{
	border-bottom: 3px solid red;
}
button{
	margin: auto;
	padding: 10px;
	border-radius: 5px;
}
