#linkclick{
	padding: 0px;
	margin: 0px;
	border: 2px solid black;
}
#imp-link-wrapper{
	width: 331px;
	margin: auto;
	display: flex;
	align-items: stretch;
	align-self: center;
	flex-wrap: wrap;
}
#link1,#link2,#link3,#link4,#link5,#link6,#link7,#link8,#link9{
	min-width: 20%;
	max-width: 20%;
	padding: 20px;
	text-align: center;
	font-weight: 900;
	border: 2px solid white;
	border-radius: 5px;
	display: table-cell;
	vertical-align: middle;
	align-content: space-between;
	transition: .5s all ease-out; 
}
a{
	text-decoration: none;
	padding: 3px;
	border-bottom: 2px solid red;
	color: rgb(0, 41, 49);
	background-color: white;
}


.clear{
	clear: both;
}
/* independent _link*_ styling */
#link1{
	background-color: yellow;
}

#link2{
	background-color: lightpink;
}
#link3{
	background-color: skyblue;
}
#link4{
	background-color: cyan;
}
#link5{
	background-color: lightgreen;
}
#link6{
	background-color: cyan;
}
#link7{
	background-color: skyblue;
}
#link8{
	background-color: lightpink;
}
#link9{
	background-color: yellow;
}
#link1:hover,#link2:hover,#link3:hover,#link4:hover,#link5:hover,#link6:hover,#link7:hover,#link8:hover,#link9:hover{
	background-color: white;
	background-image: url('/img/linkbg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#dashboard{
	padding: 5px;
	background-color: rgb(46, 91, 240);
	text-align: center;
	font-weight: 900;
	color: white;
	border: 2px solid white;
}
#dashboard:hover{
	color: white;
	background-image: url('/img/linkbg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#dashboard>a{
	text-decoration: none;
	border-bottom: unset;
	color: inherit;
	background: unset;	
}